/**
 *
 * Project Name: ******;
 * Author: Abdulaha Islam;
 * Version: 1.0.1;
 * Company: Abnipes Network;
 * Descriptions: ****** is an html5 responsive e-commerce template;
 *
 *
 *
 **************
 * CSS TABLE OF CONTENTS
 **************
 *
 * 01. Default css
 * 02. Variables
 *     
 *     
 *
 * 
 */

/* 01. Default css */
body {
    font-family: Poppins, Helvetica, sans-serif !important;
    background-image: url(../images/parallax-bg-1.png);
}

p {
    margin: 0;
}


a {
    text-decoration: none;
    transition: all 0.3s ease;
}

img {
    width: 100%;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bg-cover-fixed {
    background-size: cover !important;
    -webkit-background-size: cover !important;
    background-attachment: fixed !important;
    background-repeat: repeat repeat !important;
    background-position: center center;
}

.custom-container {
    width: 1170px;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.wide-container {
    width: 1120px;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

/* 02. Variables */
:root {
    --primary: #f15724;
    --secondary: #202b31;
    --gray: #585858;
    --graybg: #f7f7f6;
    --white: #ffffff;
    --bebas: "Bebas Neue";
}


/* 03. Top bar area */
.jpp-top-bar {
    background-color: rgb(245, 205, 138);
    background-image: linear-gradient(100deg, rgb(173, 110, 1) 1%, rgb(252, 235, 167) 100%);
    padding: 18px 0;
    border-bottom: 3px solid #f5cd8a;
}

.jpp-top-bar b {
    color: rgb(0, 41, 112);
    font-size: 16px;
    font-weight: 500;
}

.jpp-main-menu {
    text-align: right;
}

.jpp-main-menu ul {}

.jpp-main-menu ul li {
    display: inline-block;
    padding-left: 30px;
}

.jpp-main-menu ul li a {
    color: #032051;
    font-size: 16px;
    line-height: 1.3em;
    font-weight: 500;
    text-transform: capitalize;
}


/* 03. Auth form area */
.jpp-auth-area {
    padding: 20px 0;
}

.jpp-auth-area .row {
    padding: 20px 10px;
}

.jpp-auth-content {}

.jpp-auth-content h2 {
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
    font-size: 32px;
    color: #032051;
    line-height: 1.3em;
}

.jpp-auth-img-wrap {
    margin-top: 35px;
    text-align: center;
}

.jpp-auth-img-wrap img {
    max-width: 450px;
}

.jpp-auth-form {
    padding: 20px 25px;
    background-color: rgba(255, 255, 255, 0.68);
    box-shadow: rgba(6, 94, 208, 0.5) -5px 7px 30px 8px;
    border-color: rgb(248, 178, 79);
    border-width: 5px;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-radius: 15px;
}

.jpp-from-img-wrap {
    text-align: center;
}

.jpp-auth-form img {max-width: 200px;margin: 0 auto;text-align: center;}

.jpp-auth-form-wrap {}

.jpp-auth-form-wrap {}

.jpp-auth-form-wrap h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid #DDD;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.jpp-auth-form-wrap .form-group {
    margin-bottom: 15px;
}

.jpp-auth-form-wrap label {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

.jpp-auth-form-wrap input {
    box-shadow: 0 0 0 3px rgba(0,0,0,0.05) !important;
    border: 1px solid rgba(0,0,0,0.2);
}

.jpp-auth-form-wrap button.memberaccessbutton {
    margin-top: 10px;
    width: 100%;
    display: block;
    padding: 10px 20px;
    font-weight: 500;
    text-align: center;
    border-radius: 4px;
    background-color: rgb(0, 41, 112);
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    color: #FFF;
    font-size: 16px !important;
    text-transform: uppercase;
}

.jpp-auth-form-link {
    color: #767676;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    transition: 0.3s;
    display: block;
    margin-bottom: 10px;
}

.jpp-auth-form-link:hover {
    color: #186299;
    text-decoration: underline;
}


/* 04. Lessons site logo */
section.jpp-lesson-site-logo {
    padding-top: 20px;
}

.jpp-site-logo-wrap {
    text-align: center;
    padding: 20px 10px;
}

.jpp-site-logo-wrap img {
    max-width: 200px;
}


/* 05. Lessons top area */
.jpp-lesson-top-area {

}

section.jpp-lesson-top-area .row {
    color: #FFFFFF;
    background: rgb(0, 53, 88);
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

.jpp-lessons-head {}

.jpp-lessons-head span {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3em;
}


/* 06. Lessons List */
section.jpp-lessons-wrapper {}

section.jpp-lessons-wrapper .row {
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    padding: 20px 0 40px;
}

.jpp-lessons-module {}

.jpp-lessons-module ul {}

.jpp-lessons-module ul li {}

.jpp-lessons-module ul li a {}

.jpp-lesson-content {
    text-align: center;
    padding: 60px 20px;
    border-color: rgba(47, 47, 47, 0.14902);
    background-color: rgb(255, 255, 255);
    border-width: 3px;
    border-style: solid;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 5px;
}

.jpp-lesson-content h3 {}

.jpp-lesson-content p {}

.jpp-lesson-content a {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3em;
    background: linear-gradient(90deg, rgba(69,142,255,1) 0%, rgba(0,20,222,1) 50%, rgba(69,142,255,1) 100%);
    box-shadow: inset 0 2px 2px 0 rgba(255,255,255,0.22), 0 233px 233px 0 rgba(255,255,255,0.12) inset;
    border-radius: 3px;
    padding: 10px 25px;
    display: block;
    width: max-content;
    text-align: center;
    margin: 30px auto 0;
}

/* 00. Copyright area */

.jpp-copyright-area {
    padding: 20px 0;
    outline: none;
    background-image: url(../images/parallax-bg-2.png);
}


.jpp-copyright-area span {
    padding: 20px 0;
    display: block;
    color: rgb(245, 205, 138);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}


































/*  */


.parallax-bg-2 {
    background-image: url(../images/parallax-bg-2.png);
}

section.jpp-immediately-text {
    color: #FFFFFF;
    padding: 60px 0 40px;
}

section.jpp-immediately-text p {
    font-size: 22px;
    line-height: 1.3em;
}

section.jpp-immediately-text h2 {
    color: #f5cd8a;
    font-size: 44px;
    font-family: "Merriweather", serif;
    font-weight: 700;
    line-height: 1em;
    margin: 20px 0;
}

@keyframes jpp-glimmer {
    0% {
        -webkit-transform: translate(-80%, 0px);
        -ms-transform: translate(-80%, 0px);
        transform: translate(-80%, 0px);
    }

    50% {
        -webkit-transform: translate(80%, 0px);
        -ms-transform: translate(80%, 0px);
        transform: translate(80%, 0px);
    }
}

a.jpp-animate-btn {
    color: #FFFFFF;
    background: linear-gradient(90deg, rgba(200,6,6,1) 14%, rgba(251,57,57,1) 51%, rgba(200,6,6,1) 88%);
    box-shadow: rgba(157, 1, 1, 0.3) -9px 14px 14px 0px;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 10px 25px;
    margin-top: 40px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

a.jpp-animate-btn:after {
    content: ' ';
    position: absolute;
    top: -50%;
    right: -60%;
    bottom: -50%;
    left: -60%;
    background: linear-gradient(50deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 60%);
    -webkit-transform: translate(-80%, 0px);
    -ms-transform: translate(-80%, 0px);
    transform: translate(-80%, 0px);
    animation: 5s jpp-glimmer infinite;
}

.jpp-animate-btn span {
    display: block;
    color: #FFFFFF;
}

.jpp-animate-btn:hover span {
    color: #FFFFFF;
}

.jpp-animate-btn span:first-child {
    font-size: 20px;
}

.jpp-animate-btn span:last-child {
    font-size: 14px;
}


/*  */

section.jpp-act-first {
    padding: 40px 0;
}

section.jpp-act-first p {
    font-size: 20px;
    font-weight: 400;
}

section.jpp-act-first h4 {
    color: #090909;
    font-size: 20px;
    line-height: 1.3em;
    margin-bottom: 30px;
}

section.jpp-act-first img {
    max-width: 650px;
    margin: 30px 0;
}


/*  */
section.jpp-two-option {
    color: #FFFFFF;
    padding: 60px 0 40px;
}

section.jpp-two-option p {
    font-size: 22px;
    line-height: 1.3em;
}

section.jpp-two-option h2 {
    margin: 20px 0 0 0;
    color: #f5cd8a;
    font-size: 44px;
    font-family: "Merriweather", serif;
    font-weight: 700;
    line-height: 1em;
}


