/**
 *
 * Project Name: ******;
 * Author: Abdulaha Islam;
 * Version: 1.0.1;
 * Company: Abnipes Network;
 * Descriptions: ****** is an html5 responsive e-commerce template;
 *
 *
 *
 **************
 * CSS TABLE OF CONTENTS
 **************
 *
 * 01. Default css
 * 02. Variables
 *     
 *     
 *
 * 
 */

/* 01. Default css */
body {
    font-family: Poppins, Helvetica, sans-serif !important;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bg-cover {
    background-size: cover !important;
    -webkit-background-size: cover !important;
    background-attachment: fixed !important;
    background-repeat: repeat repeat !important;
    background-position: center center;
}

/* 02. Variables */
:root {
    --primary: #f15724;
    --secondary: #202b31;
    --gray: #585858;
    --graybg: #f7f7f6;
    --white: #ffffff;
    --bebas: "Bebas Neue";
}


/* 03. Top bar area */
.jpp-top-bar {
    background-color: rgb(245, 205, 138);
    background-image: linear-gradient(100deg, rgb(173, 110, 1) 1%, rgb(252, 235, 167) 100%);
    padding: 15px 0;
}

.jpp-top-bar b {
    color: rgb(0, 41, 112);
    font-size: 16px;
    font-weight: 500;
}




/* 03. Copyright area */

.copyright-area {
    padding: 20px 0;
    outline: none;
    background-image: url(../images/parallax-bg-2.png);
}


.copyright-area span {
    padding: 20px 0;
    display: block;
    color: rgb(245, 205, 138);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}



